body {
    background-image: url(im2.jpg);
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #A9E0FF;
    color: rgb(41, 17, 129);
    font-size: 20px;
}

button {
    background-color: #FF8245;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 15px;
}

.ti {
    text-align: center;
    color: bisque;
    background-color: rgba(255, 0, 0, 0.61);
    padding: 10px;
    border-radius: 20px;
}

.res {
    background-color: #3b1880d8;
    color: black;
    padding: 16px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}